build/
builddir/
subprojects/
debian/
dist/
*.o
*.lo
*.la
*.so
*.so.*
*.typelib
*.gir
__pycache__/
*.pyc
.venv/
*.swp
*~
.vscode/
.idea/
*.tar.xz
*.tar.gz
valgrind.log
compile_commands.json
bindings/python/gsni.egg-info/
bindings/python/dist/
bindings/python/__pycache__/
bindings/python/.pytest_cache/
